.chat-selector {
    -fx-background-color: #FFFFFF;
    -fx-text-alignment: left;
    -fx-border-radius: 8px 0px 0px 8px;
    -fx-background-radius: 8px 0px 0px 8px;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #D9D9D9;
    -fx-padding: 12px 14px;
    -fx-pref-width: 165px;
    -fx-pref-height: 40px;
}

.chat-selector-container {
    -fx-background-color: #535353;
    -fx-padding: 5px 4px 5px 0px;
}

.chat-list {
    -fx-background-color: #535353;
}

.form-slider .thumb {
    -fx-background-color: black;
}

.form-slider .track {
    -fx-background-color: #6C94DF;
}

.delete-button {
    -fx-background-color: #FFFFFF;
    -fx-pref-height: 42.1px;
    -fx-pref-width: 15px;
    -fx-border-radius: 0px 8px 8px 0px;
    -fx-background-radius: 0px 8px 8px 0px;
    -fx-padding: 8px;
}

.download-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.chat-list .scroll-bar:horizontal .increment-arrow,
.chat-list .scroll-bar:horizontal .decrement-arrow,
.chat-list .scroll-bar:horizontal .increment-button,
.chat-list .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0px;
}

.chat-mode-active, .quiz-mode-active {
    -fx-background-color: #6C95DF;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-text-alignment: center;
    -fx-padding: 5px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
}

.chat-mode-disabled, .quiz-mode-disabled {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 5px;
    -fx-text-alignment: center;
    -fx-padding: 5px;
    -fx-border-color: grey;
    -fx-border-radius: 5px;
}

.chat-mode-active:hover, .chat-mode-disabled:hover, .quiz-mode-disabled:hover,
.return-button:hover, .search-button:hover, .addChatButton:hover, .confirmEdit:hover, .editName:hover,
.userDetailsButton:hover, .logoutButton:hover, .setting-button:hover, .upload-button:hover, .chat-selector:hover,
.button:hover, .delete-button:hover, .createChat2:hover, .start-button:hover, .download-button:hover {
    -fx-opacity: 0.8;
    -fx-transition: opacity 0.2s ease-in-out;
    -fx-cursor: hand;
}

.user-message {
    -fx-background-color: #CBD6FF;
    -fx-text-alignment: justify;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-padding: 10px 15px 10px 15px;
    -fx-font-size: 14px;
}

.ai-message {
    -fx-background-color: #98E4CF;
    -fx-text-alignment: justify;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-padding: 10px 15px 10px 15px;
    -fx-font-size: 14px;
}

.thinking-message {
    -fx-background-color: #F5F5F5;
    -fx-text-alignment: justify;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-padding: 10px 15px 10px 15px;
    -fx-font-size: 16px;
    -fx-font-style: italic;
}

.takeQuizButton {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-padding: 8px 15px;
}

.chatScrollPane .viewport {
    -fx-background-color: white;
}

.chatMessagesVBox {
    -fx-background-color: white;
}

.message-area .viewport,
.message-area .scroll-pane,
.message-area .content {
    -fx-background-color: white;
    -fx-background-insets: 0px;
    -fx-padding: 0px;
    -fx-border-width: 0px;
    -fx-border-color: white;
}

.background {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #CBD6FF 0%, #6C95DF 100%);
}
