.quiz-selector {
    -fx-background-color: #FFFFFF;
    -fx-text-alignment: left;
    -fx-border-radius: 8px 0px 0px 8px;
    -fx-background-radius: 8px 0px 0px 8px;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #D9D9D9;
    -fx-padding: 12px 14px;
    -fx-pref-width: 165px;
    -fx-pref-height: 40px;
}

.quiz-selector-container {
    -fx-background-color: #535353;
    -fx-padding: 5px 4px 5px 0px;
}

.quiz-list {
    -fx-background-color: #535353;
}

.form-slider .thumb {
    -fx-background-color: black;
}

.form-slider .track {
    -fx-background-color: #6C94DF;
}

.option-button-toggled {
    -fx-padding: 10px;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-border-radius: 2px 10px 10px 2px;
    -fx-background-radius: 2px 10px 10px 2px;
    -fx-background-color: #6C95DF;
    -fx-text-fill: white;
    -fx-border-color: black;
}

.option-button {
    -fx-padding: 10px;
    -fx-background-color: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-border-radius: 2px 10px 10px 2px;
    -fx-background-radius: 2px 10px 10px 2px;
    -fx-border-color: black;
}

.option-button:hover {
    -fx-opacity: 0.8;
    -fx-transition: opacity 0.2s ease-in-out;
    -fx-cursor: hand;
    -fx-border-radius: 0px 13px 13px 0px;
    -fx-background-radius: 0px 13px 13px 0px;
}

.return-button:hover, .userDetailsButton:hover, .select-question:hover, .question-container:hover, .correct-answer:hover,
.incorrect-answer:hover {
    -fx-opacity: 0.8;
    -fx-transition: opacity 0.2s ease-in-out;
    -fx-border-radius: 13px;
    -fx-background-radius: 13px;
    -fx-cursor: hand;
}

.correct-answer {
    -fx-background-color: #c8f7c5;
    -fx-text-fill: #2e7d32;
    -fx-font-size: 14px;
    -fx-padding: 5px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.incorrect-answer {
    -fx-background-color: #ffcdd2;
    -fx-text-fill: #c62828;
    -fx-font-size: 14px;
    -fx-padding: 5px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.question-container {
    -fx-padding: 5px;
    -fx-background-color: #CBD6FF;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.select-question {
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.toggle-answered {
    -fx-background-color: #D73234;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-font-weight: bold;
    -fx-padding: 0px;
    -fx-alignment: center;
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
}

.toggle-answered:selected {
    -fx-background-color: #6CDF8B;
}

.toggle-answered:selected::before {
    -fx-translate-x: 3.5px;
}

.question-cell {
    -fx-padding: 8px 0px 8px 0px;
}