.chat-selector {
    -fx-background-color: #FFFFFF;
    -fx-text-alignment: left;
    -fx-border-radius: 8 0 0 8;
    -fx-background-radius: 8 0 0 8;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: #D9D9D9;
    -fx-padding: 12 14;
    -fx-pref-width: 165;
    -fx-pref-height: 40;
}

.chat-selector-container {
    -fx-background-color: #535353;
    -fx-padding: 5 4 5 0;
}

.chat-list {
    -fx-background-color: #535353;
}

.form-slider .thumb{
    -fx-background-color: black;
}

.form-slider .track{
    -fx-background-color: #6C94DF;
}

.delete-button {
    -fx-background-color: #FFFFFF;
    -fx-pref-height: 42.1;
    -fx-pref-width: 15;
    -fx-border-radius: 0 8 8 0;
    -fx-background-radius: 0 8 8 0;
    -fx-padding: 8;
}

.chat-list .scroll-bar:horizontal .increment-arrow,
.chat-list .scroll-bar:horizontal .decrement-arrow,
.chat-list .scroll-bar:horizontal .increment-button,
.chat-list .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.chat-mode-active, .quiz-mode-active {
    -fx-background-color: #6C95DF;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-text-alignment: center;
    -fx-padding: 5;
    -fx-border-color: black;
    -fx-border-radius: 5;
}

.chat-mode-disabled, .quiz-mode-disabled {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 5;
    -fx-text-alignment: center;
    -fx-padding: 5;
    -fx-border-color: grey;
    -fx-border-radius: 5;
}

.chat-mode-active:hover, .chat-mode-disabled:hover .chat-mode-disabled:hover, .quiz-mode-disabled:hover,
 .return-button:hover, .search-button:hover, .addChatButton:hover, .confirmEdit:hover, .editName:hover,
 .userDetailsButton:hover, .logoutButton:hover, .setting-button:hover, .upload-button:hover, .chat-selector:hover,
 .button:hover, .delete-button:hover, .createChat2:hover, .start-button:hover {
    -fx-opacity: 0.8;
    -fx-transition: opacity 0.2s ease-in-out;
    -fx-cursor: hand;
}

.user-message {
    -fx-background-color: #CBD6FF;
    -fx-text-alignment: justify;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-padding: 10, 15, 10, 15;
    -fx-font-size: 14;
}

.ai-message {
    -fx-background-color: #98E4CF;
    -fx-text-alignment: justify;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-padding: 10, 15, 10, 15;
    -fx-font-size: 14;
}

.thinking-message {
    -fx-background-color: #F5F5F5;;
    -fx-text-alignment: justify;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-padding: 10, 15, 10, 15;
    -fx-font-size: 16;
    -fx-font-style: italic;
}

.takeQuizButton {
    -fx-background-color: white;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-border-color: black;
    -fx-padding: 8 15;
}

#chatMessagesVBox {
    -fx-background-color: white;
}















